<footer class="footer__container">
  <div class="footer">
    <div class="footer__logo-container">
      <img class="footer__logo-icon" alt="" src="./img/logobranco-1@2x.png" />
      <div class="footer__info-container">
        <div class="footer__text-info">
          Horario de atendimiento: 08h - 20h (Lunes a Sábado)
        </div>
        <div class="footer__text-info">
          Desarrollado por Alura Latam. Proyecto fictício sin fines comerciales.
        </div>
      </div>
    </div>
    <div class="footer__social-media-container">
      <div class="footer__social-media-text">
        Accede a nuestras redes sociales:
      </div>
      <div class="footer__social-media-icons">
        <a href="">
          <img
            class="footer__social-media-icon"
            alt="whatsapp"
            src="./img/whatsapp-1.svg"
          />
        </a>
        <a href="">
          <img
            class="footer__social-media-icon"
            alt="instragam"
            src="./img/instragam-1.svg"
          />
        </a>
        <a href="">
          <img
            class="footer__social-media-icon"
            alt="twiter"
            src="./img/twiter-1.svg"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
