<header class="encabezado__container">
    <div class="encabezado">
        <img class="encabezado__logo--icono" alt="Logo de Jornada, empresa de viajes y turismo"
            src="./img/logoprovisriablanca-1@2x.png" />

        <nav class="encabezado__navegacion">
            <ul class="encabezado__navegacion--lista">
                <li class="encabezado__navegacion--elemento">
                    <a href="pages/main.html" aria-label="Enlace home">Home</a>
                </li>
                <li class="encabezado__navegacion--elemento">
                    <a href="pages/blog.html" aria-label="Enlace al blog de viajes">Blog</a>
                </li>
                <li class="encabezado__navegacion--elemento">
                    <a href="pages/paquetes.html" aria-label="Enlace a paquetes de viaje">Paquetes de viaje</a>
                </li>
                <li class="encabezado__navegacion--elemento">
                    <a href="pages/contacto.html" aria-label="Enlace de contacto para consultas">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>

</header>